In [1]:
import pandas as pd
import numpy as np

In [2]:
file_path = 'netflix_data.csv'
netflix = pd.read_csv(file_path)

In [3]:
netflix.head(10)

,show_id,type,title,director,country,date_added,release_year,rating,duration,listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9/25/2021,2020.0,PG-13,90 min,Documentaries
1,s3,TV Show,Ganglands,Julien Leclercq,France,9/24/2021,2021.0,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
2,s6,TV Show,Midnight Mass,Mike Flanagan,United States,9/24/2021,2021.0,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries"
3,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,9/22/2021,2021.0,TV-PG,91 min,"Children & Family Movies, Comedies"
4,s8,Movie,Sankofa,Haile Gerima,United States,9/24/2021,1993.0,TV-MA,125 min,"Dramas, Independent Movies, International Movies"
5,s9,TV Show,The Great British Baking Show,Andy Devonshire,United Kingdom,9/24/2021,2021.0,TV-14,9 Seasons,"British TV Shows, Reality TV"
6,s10,Movie,The Starling,Theodore Melfi,United States,9/24/2021,2021.0,PG-13,104 min,"Comedies, Dramas"
7,s939,Movie,Motu Patlu in the Game of Zones,Suhas Kadav,India,5/1/2021,2019.0,TV-Y7,87 min,"Children & Family Movies, Comedies, Music & Mu..."
8,s13,Movie,Je Suis Karl,Christian Schwochow,Germany,9/23/2021,2021.0,TV-MA,127 min,"Dramas, International Movies"
9,s940,Movie,Motu Patlu in Wonderland,Suhas Kadav,India,5/1/2021,2013.0,TV-Y7,76 min,"Children & Family Movies, Music & Musicals"

In [4]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8793 entries, 0 to 8792
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8793 non-null   object
 1   type          8793 non-null   object
 2   title         8791 non-null   object
 3   director      8740 non-null   object
 4   country       8786 non-null   object
 5   date_added    8793 non-null   object
 6   release_year  8792 non-null   float64
 7   rating        8793 non-null   object
 8   duration      8787 non-null   object
 9   listed_in     8791 non-null   object
dtypes: float64(1), object(9)
memory usage: 687.1+ KB

In [5]:
netflix.shape

(8793, 10)

In [6]:
netflix.dropna()

,show_id,type,title,director,country,date_added,release_year,rating,duration,listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9/25/2021,2020.0,PG-13,90 min,Documentaries
1,s3,TV Show,Ganglands,Julien Leclercq,France,9/24/2021,2021.0,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
2,s6,TV Show,Midnight Mass,Mike Flanagan,United States,9/24/2021,2021.0,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries"
3,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,9/22/2021,2021.0,TV-PG,91 min,"Children & Family Movies, Comedies"
4,s8,Movie,Sankofa,Haile Gerima,United States,9/24/2021,1993.0,TV-MA,125 min,"Dramas, Independent Movies, International Movies"
...,...,...,...,...,...,...,...,...,...,...
8788,s8784,TV Show,Yoko,Not Given,Pakistan,6/23/2018,2016.0,TV-Y,1 Season,Kids' TV
8789,s8786,TV Show,YOM,Not Given,Pakistan,6/7/2018,2016.0,TV-Y7,1 Season,Kids' TV
8790,s8786,TV Show,YOM,Not Given,Pakistan,6/7/2018,2016.0,TV-Y7,1 Season,Kids' TV
8791,s8786,TV Show,YOM,Not Given,Pakistan,6/7/2018,2016.0,TV-Y7,1 Season,Kids' TV
8792,s8786,TV Show,YOM,Not Given,Pakistan,6/7/2018,2016.0,TV-Y7,1 Season,Kids' TV

In [7]:
netflix.shape

(8793, 10)

In [9]:
netflix.dtypes

show_id          object
type             object
title            object
director         object
country          object
date_added       object
release_year    float64
rating           object
duration         object
listed_in        object
dtype: object

In [10]:
netflix['date_added'] = pd.to_datetime(netflix['date_added'], errors='coerce')

In [11]:
netflix['date_added'] = pd.to_datetime(netflix['date_added'])

In [12]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8793 entries, 0 to 8792
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8793 non-null   object
 1   type          8793 non-null   object
 2   title         8791 non-null   object
 3   director      8740 non-null   object
 4   country       8786 non-null   object
 5   date_added    8791 non-null   datetime64[ns]
 6   release_year  8792 non-null   float64
 7   rating        8793 non-null   object
 8   duration      8787 non-null   object
 9   listed_in     8791 non-null   object
dtypes: datetime64[ns](1), float64(1), object(8)
memory usage: 687.1+ KB

In [14]:
print(netflix)

     show_id     type                             title         director  \
0         s1    Movie              Dick Johnson Is Dead  Kirsten Johnson
1         s3  TV Show                         Ganglands  Julien Leclercq
2         s6  TV Show                     Midnight Mass    Mike Flanagan
3        s14    Movie  Confessions of an Invisible Girl    Bruno Garotti
4         s8    Movie                           Sankofa     Haile Gerima
...      ...      ...                               ...              ...
8788   s8784  TV Show                              Yoko        Not Given
8789   s8786  TV Show                               YOM        Not Given
8790   s8786  TV Show                               YOM        Not Given
8791   s8786  TV Show                               YOM        Not Given
8792   s8786  TV Show                               YOM        Not Given

            country date_added  release_year rating  duration  \
0     United States 2021-09-25        2020.0  PG-13    90 min
1            France 2021-09-24        2021.0  TV-MA  1 Season
2     United States 2021-09-24        2021.0  TV-MA  1 Season
3            Brazil 2021-09-22        2021.0  TV-PG    91 min
4     United States 2021-09-24        1993.0  TV-MA   125 min
...             ...        ...           ...    ...       ...
8788       Pakistan 2018-06-23        2016.0   TV-Y  1 Season
8789       Pakistan 2018-06-07        2016.0  TV-Y7  1 Season
8790       Pakistan 2018-06-07        2016.0  TV-Y7  1 Season
8791       Pakistan 2018-06-07        2016.0  TV-Y7  1 Season
8792       Pakistan 2018-06-07        2016.0  TV-Y7  1 Season

                                              listed_in
0                                         Documentaries
1     Crime TV Shows, International TV Shows, TV Act...
2                    TV Dramas, TV Horror, TV Mysteries
3                    Children & Family Movies, Comedies
4      Dramas, Independent Movies, International Movies
...                                                 ...
8788                                           Kids' TV
8789                                           Kids' TV
8790                                           Kids' TV
8791                                           Kids' TV
8792                                           Kids' TV

[8793 rows x 10 columns]

In [15]:
data = {
    'title': ['Movie A', 'TV Show B', 'Movie C', 'TV Show D'],
    'duration': ['120 min', '3 Seasons', '95 min', '5 Seasons']
}

In [16]:
df = pd.DataFrame(data)

print("DataFrame contents:")
print(df)

df['duration_min'] = df['duration'].str.extract(r'(\d+)\s*min', expand=False)
df['seasons'] = df['duration'].str.extract(r'(\d+)\s*Seasons', expand=False)


df['duration_min'] = pd.to_numeric(df['duration_min'], errors='coerce')
df['seasons'] = pd.to_numeric(df['seasons'], errors='coerce')


print("\nModified DataFrame:")
print(df)

print("\nData Types:")
print(df.dtypes)

DataFrame contents:
       title   duration
0    Movie A    120 min
1  TV Show B  3 Seasons
2    Movie C     95 min
3  TV Show D  5 Seasons

Modified DataFrame:
       title   duration  duration_min  seasons
0    Movie A    120 min         120.0      NaN
1  TV Show B  3 Seasons           NaN      3.0
2    Movie C     95 min          95.0      NaN
3  TV Show D  5 Seasons           NaN      5.0

Data Types:
title            object
duration         object
duration_min    float64
seasons         float64
dtype: object

In [17]:
print(df)

       title   duration  duration_min  seasons
0    Movie A    120 min         120.0      NaN
1  TV Show B  3 Seasons           NaN      3.0
2    Movie C     95 min          95.0      NaN
3  TV Show D  5 Seasons           NaN      5.0

In [18]:
duplicate_rows = df[df.duplicated()]

In [19]:
print(f"Number of duplicate rows: {duplicate_rows.shape[0]}")
duplicate_rows

Number of duplicate rows: 0

Empty DataFrame
Columns: [title, duration, duration_min, seasons]
Index: []

In [20]:
df_cleaned = df.drop_duplicates()

In [21]:
print(f"Number of rows after removing duplicates: {df_cleaned.shape[0]}")

Number of rows after removing duplicates: 4

In [22]:
df_cleaned.to_csv('cleaned_file.csv', index=False)

In [23]:
print(df_cleaned)

       title   duration  duration_min  seasons
0    Movie A    120 min         120.0      NaN
1  TV Show B  3 Seasons           NaN      3.0
2    Movie C     95 min          95.0      NaN
3  TV Show D  5 Seasons           NaN      5.0

In [24]:
# Convert 'type', 'rating', and 'listed_in' columns to categorical types
netflix['type'] = netflix['type'].astype('category')
netflix['rating'] = netflix['rating'].astype('category')
netflix['listed_in'] = netflix['listed_in'].astype('category')

In [25]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8793 entries, 0 to 8792
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8793 non-null   object
 1   type          8793 non-null   category
 2   title         8791 non-null   object
 3   director      8740 non-null   object
 4   country       8786 non-null   object
 5   date_added    8791 non-null   datetime64[ns]
 6   release_year  8792 non-null   float64
 7   rating        8793 non-null   category
 8   duration      8787 non-null   object
 9   listed_in     8791 non-null   category
dtypes: category(3), datetime64[ns](1), float64(1), object(5)
memory usage: 536.3+ KB

In [26]:
netflix['decade'] = (netflix['release_year'] // 10 * 10).astype(str)

In [27]:
netflix.head()

,show_id,type,title,director,country,date_added,release_year,rating,duration,listed_in,decade
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,2021-09-25,2020.0,PG-13,90 min,Documentaries,2020.0
1,s3,TV Show,Ganglands,Julien Leclercq,France,2021-09-24,2021.0,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",2020.0
2,s6,TV Show,Midnight Mass,Mike Flanagan,United States,2021-09-24,2021.0,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",2020.0
3,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,2021-09-22,2021.0,TV-PG,91 min,"Children & Family Movies, Comedies",2020.0
4,s8,Movie,Sankofa,Haile Gerima,United States,2021-09-24,1993.0,TV-MA,125 min,"Dramas, Independent Movies, International Movies",1990.0

In [29]:
# Handle NaN values in 'duration' by dropping them (or alternatively, use fillna('0 min') to set a default value)
movies_df = netflix.dropna(subset=['duration'])

# Extract numeric part of 'duration' and convert to integer
movies_df['duration_numeric'] = movies_df['duration'].str.extract(r'(\d+)').astype(float).astype(int)

# Define bins and labels for categorizing length
bins = [0, 90, 120, float('inf')]
labels = ['short', 'medium', 'long']

# Create the 'length_category' column
movies_df['length_category'] = pd.cut(movies_df['duration_numeric'], bins=bins, labels=labels, right=False)

# Check the results
print(movies_df[['duration', 'duration_numeric', 'length_category']].head())

   duration  duration_numeric length_category
0    90 min                90          medium
1  1 Season                 1           short
2  1 Season                 1           short
3    91 min                91          medium
4   125 min               125            long

/var/folders/dw/z8w40lyn4x945vhqd4wy2g7c0000gp/T/ipykernel_61435/1972489125.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df['duration_numeric'] = movies_df['duration'].str.extract(r'(\d+)').astype(float).astype(int)
/var/folders/dw/z8w40lyn4x945vhqd4wy2g7c0000gp/T/ipykernel_61435/1972489125.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df['length_category'] = pd.cut(movies_df['duration_numeric'], bins=bins, labels=labels, right=False)

In [30]:
genre_count = movies_df['listed_in'].value_counts()

In [31]:
print(genre_count)

listed_in
Dramas, International Movies                                    362
Documentaries                                                   359
Stand-Up Comedy                                                 334
Comedies, Dramas, International Movies                          274
Dramas, Independent Movies, International Movies                252
                                                               ...
Comedies, Cult Movies, LGBTQ Movies                               1
International TV Shows, Spanish-Language TV Shows, TV Horror      1
Comedies, Cult Movies, Independent Movies                         1
Crime TV Shows, TV Action & Adventure, TV Sci-Fi & Fantasy        1
Docuseries, TV Sci-Fi & Fantasy                                   0
Name: count, Length: 513, dtype: int64

In [32]:
top_countries = movies_df['country'].value_counts()

In [33]:
print(top_countries)

country
United States     3239
India             1056
United Kingdom     636
Pakistan           420
Not Given          287
                  ...
Iran                 1
West Germany         1
Greece               1
Zimbabwe             1
Soviet Union         1
Name: count, Length: 86, dtype: int64

In [34]:
rating_counts = movies_df['rating'].value_counts()

In [35]:
print(rating_counts)

rating
TV-MA       3202
TV-14       2156
TV-PG        860
R            799
PG-13        490
TV-Y7        335
TV-Y         306
PG           287
TV-G         220
NR            79
G             41
TV-Y7-FV       6
NC-17          3
UR             3
Name: count, dtype: int64

In [36]:
directors = movies_df['director'].value_counts()

In [37]:
print(directors)

director
Not Given                         2535
Rajiv Chilaka                       20
Alastair Fothergill                 18
Raúl Campos, Jan Suter              18
Marcus Raboy                        16
                                  ...
Scott McAboy                         1
Raymie Muzquiz, Stu Livingston       1
Joe Menendez                         1
Eric Bross                           1
Mozez Singh                          1
Name: count, Length: 4526, dtype: int64

In [38]:
yearly_content_trend = movies_df['release_year'].value_counts().sort_index()

In [39]:
print(yearly_content_trend)

release_year
1925.0       1
1942.0       2
1943.0       3
1944.0       3
1945.0       4
          ...
2017.0    1030
2018.0    1146
2019.0    1028
2020.0     949
2021.0     592
Name: count, Length: 74, dtype: int64